.counter-control{
  border: 3px groove;
  text-align: center;
}

.counter-info {
  text-align: center;
  padding: 200px 700px;
}

.counter-button-control-first {
  padding-top: 20px;
  padding-bottom: 5px;
}

.counter-button-control-second {
  padding-top: 5px;
  padding-bottom: 20px;
}

.button-plus {
  position: absolute;
  left: 790px;
}

.button-subtract {
  position: absolute;
  right: 795px;
}


label {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-color: #62D9FB;
}